<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{url_for('static', filename = 'home.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'about.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header>
        <h1>Welcome! Let's have brief intro about Us</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="#">Contact Us</a>
    </nav>
    <div class="cont">
        <div class="content">
            <ul>
                <li><span style="font-size: larger; font-weight: bolder; ">Member 1 : Satya Prakash</span>
                    <a href="https://www.linkedin.com/in/satya-prakash-755145223" target="_blank"><i class="fa fa-linkedin-square" style="font-size:24px; margin-left: 20px; color: rgb(250, 83, 12); cursor: pointer;"></i></a>
                    
                </li>
                <li><span style="font-size: larger; font-weight: bolder; ">Member 2 : Saurabh Prabhat</span>
                    
                    <a href="https://www.linkedin.com/in/saurabh-prabhat" target="_blank"><i class="fa fa-linkedin-square" style="font-size:24px;margin-left: 20px; color: rgb(250, 83, 12); cursor: pointer;"></i></a>
                </li>
            </ul>
        </div>

    </div>
    
</body>
</html>