<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- <link href="./static/home.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'home.css')}}">
    </style>
</head>
<body>
    <header>
        <h1>Welcome to Smart ClassRoom</h1>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact Us</a>
    </nav>

    <div class="container">
        <div class="btn-container">
            <button class="btn"><a href="/login">Login</a></button>
            <button class="btn"><a href="/register">Sign In</a></button>
        </div>
    </div>
    <div class="count">
        hi
    </div>

    <footer>
        <p>&copy; <span id="currentYear"></span> El Wey. All rights reserved. <i class="fa fa-clock-o"></i> <span id="currentTime"></span></p>
    </footer>

    <script>
        document.getElementById('currentYear').textContent = new Date().getFullYear();

        function updateTime() {
            var now = new Date();
            var hours = now.getHours();
            var minutes = now.getMinutes();
            var seconds = now.getSeconds();
            minutes = minutes < 10 ? '0' + minutes : minutes;
            seconds = seconds < 10 ? '0' + seconds : seconds;
            document.getElementById('currentTime').textContent = hours + ':' + minutes + ':' + seconds;
        }

        updateTime(); 
        setInterval(updateTime, 1000);
    </script>
</body>
</html>
