<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- <link href="./static/home.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'home.css')}}">
    </style>
</head>
<body>
    <header>
        <h1>Welcome to Smart ClassRoom</h1>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="#">Contact Us</a>
    </nav>

    <div class="container">
        <div class="btn-container">
            <button class="btn"><a href="/login">Login</a></button>
            <button class="btn"><a href="/register">Sign In</a></button>
        </div>
    </div>
    <div class="count">
        hi
    </div>
</body>
</html>
